@model SensorViewModel

@Html.HiddenFor(m => m.Url)
@Html.HiddenFor(m => m.IsValueType)
@Html.HiddenFor(m => m.MeasurementType)

<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    <br />
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PollingInterval, $"Interval in seconds")
    @Html.EditorFor(m => m.PollingInterval, new { @class = "form-control" })
    <br />
    @Html.ValidationMessageFor(m => m.PollingInterval, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsPublic, "Visible to all Users ")
    @Html.EditorFor(m => m.IsPublic, new { @class = "form-control" })
</div>