@model IEnumerable<SensorViewModel>

@Styles.Render("~/bundles/tables-css")

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Current Value</th>
                        <th>Access level</th>
                        <th>Shared</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Current Value</th>
                        <th>Access level</th>
                        <th>Shared</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var sensor in Model)
                    {
                        <tr>
                            <td>@sensor.Name</td>
                            <td>>@sensor.Description</td>
                            <td>>@sensor.CurrentValue</td>
                            <td>>@sensor.IsPublic</td>
                            <td>>@sensor.IsShared</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

    @section  scripts{

        @Scripts.Render("~/bundles/tables-js")

    }
