@{
    ViewBag.Title = "_EditSensor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminSensorViewModel

<h3>Edit sensor:</h3>
@using (Html.BeginForm("EditSensor", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.MeasurementType)
        @Html.EditorFor(m => m.MeasurementType)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.URL)
        @Html.EditorFor(m => m.URL)
    </div>
    <div>
        @Html.LabelFor(m => m.PollingInterval)
        @Html.EditorFor(m => m.PollingInterval)
    </div>

    if (Model.IsBoolType == false)
    {
        <div>
            @Html.LabelFor(m => m.MaxValue)
            @Html.EditorFor(m => m.MaxValue)
        </div>
        <div>
            @Html.LabelFor(m => m.MinValue)
            @Html.EditorFor(m => m.MinValue)
        </div>
    }

    <div>
        @Html.LabelFor(m => m.Owner)
        @Html.DisplayFor(m => m.Owner)
    </div>
    <div>
        @Html.LabelFor(m => m.SharedWithUsers)
        @Html.EditorFor(m => m.SharedWithUsers)
    </div>
    <div>
        @Html.LabelFor(m => m.IsBoolType)
        @Html.EditorFor(m => m.IsBoolType)
    </div>
    <div>
        @Html.LabelFor(m => m.IsPublic)
        @Html.EditorFor(m => m.IsPublic)
    </div>
    <div>
        @Html.LabelFor(m => m.IsDeleted)
        @Html.EditorFor(m => m.IsDeleted)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}
