@model IEnumerable<UserViewModel>

@Styles.Render("~/bundles/tables-css")
<!-- Example DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Admin privileges</th>
                        <th>Deleted</th>
                        <th>Functionality</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in @Model)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@user.IsAdmin</td>
                            <td>@user.IsDeleted</td>
                            <td>
                                @Ajax.ActionLink("[Edit]", "EditUser",
                                        new { id = user.Id },
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = user.Id.ToString()
                                        })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->

@section  scripts{
    @Scripts.Render("~/bundles/tables-js")

    <script>
        $('a').on('click', function () {
            let href = $(this).attr('href')
            let id = href.split('/').reverse()[0]
            $('.div-form').attr('hidden', 'hidden')
            let divId = '#' + id;
            $(divId).removeAttr('hidden')
        })
    </script>

}
