@model SensorViewModel

<h2>Edit Sensor...</h2>


@using (Html.BeginForm("EditSensor", "Sensor", FormMethod.Post))
{
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.LowestValue)
                    @Html.HiddenFor(m => m.HighestValue)
                    @Html.HiddenFor(m => m.Url)

                    <tbody>
                        <tr>
                            <th>Label</th>
                            <th>Values</th>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.Name)</th>
                            <td>@Html.EditorFor(m => m.Name)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.Description)</th>
                            <td>@Html.EditorFor(m => m.Description)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.Url)</th>
                            <td>@Html.DisplayFor(m => m.Url)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.PollingInterval)</th>
                            <td>@Html.EditorFor(m => m.PollingInterval)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.IsValueType)</th>
                            <td>
                                @if (Model.IsValueType)
                                {
                                    <p>Value Type Sensor</p>
                                }
                                else
                                {
                                    <p>Bool Type Sensor</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.MeasurementType)</th>
                            <td>@Html.EditorFor(m => m.MeasurementType)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.IsPublic)</th>
                            <td> @Html.EditorFor(m => m.IsPublic) </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.IsShared)</th>
                            <td>@Html.EditorFor(m => m.IsShared)</td>
                        </tr>
                        @if (Model.IsValueType)
                        {
                            <tr>
                                <th>@Html.LabelFor(m => m.MinValue)</th>
                                <td>
                                    @Html.EditorFor(m => m.MinValue)
                                    <br />
                                    @Html.ValidationMessageFor(m => m.MinValue)
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(m => m.MaxValue)</th>
                                <td>
                                    @Html.EditorFor(m => m.MaxValue)
                                    <br />
                                    @Html.ValidationMessageFor(m => m.MaxValue)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
    <div>
        <input type="submit" value="Save" />
    </div>
            </div>
        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/tables-js")
    @Scripts.Render("~/bundles/jqueryval")
}
